body {
    font-family: sans-serif;
    
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.cont
     {
      max-width :800px;
      margin:0 auto;
      color:#012236;
      font-family:sans-serif;
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
            }

.parallax {
    /* The image used */
    background-image: url("https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAdFAAAAJDNiNDRiYjdhLTU0ZDMtNGQzMy05OTI1LWUyOWFhMWNlNGY3Nw.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}